@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: "Lato", sans-serif; 
}

.slick-slide {
    margin-right:0px;
    margin-left: 20px;
}

.slick-track
{
    display: flex !important;
}

.slick-slide
{
    height: inherit !important;
}




